button {
  height: 60px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 3px 20px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: darken(red, 10%);
  }
}
